/MasteryProject/build/
/Lesson 10/nbproject/private/
/DVDLibraryV3/target/
/HotelReservation/target/
/FirstWebApp/nbproject/private/
/FirstWebApp/build/
/Lab1/nbproject/private/
/apache-tomcat-8.0.27/webapps/Lab1/nbproject/private/
/apache-tomcat-8.0.27/webapps/JSPTutorials/nbproject/private/
/apache-tomcat-8.0.27/webapps/JSPtutorials/nbproject/private/
/apache-tomcat-8.0.27/webapps/JSPtutorials/build/
/apache-tomcat-8.0.27/webapps/JSPpractice/nbproject/private/
/apache-tomcat-8.0.27/webapps/LoginApp/nbproject/private/
/apache-tomcat-8.0.27/webapps/DemoJSP/nbproject/private/
/apache-tomcat-8.0.27/webapps/DemoJSP/build/
/apache-tomcat-8.0.27/webapps/LoginApp/build/
/Lucky7s/nbproject/private/
/Lucky7s/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/ContactListMVC/target/
/DVDLibraryV4/target/
/AddressBookV4/target/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/VendingMachineV2/target/
/TestCode/nbproject/private/
/TestCode/build/