<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.3.xsd
">
    <bean id="hotel" class="operations.ASKHotel">
        <constructor-arg type="Guest [][]" value="calRooms"/>
        <constructor-arg type="Room []" value="roomInfo"/>
    </bean>
    <bean id="controller" class="dto.Controller">
        <constuctor-arg ref="hotel"/>
    </bean>
</beans>
