<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
">
    <bean id="library1" class="com.mycompany.Operations.DVDCollection"/>
    <!--  <bean id="library2" class="com.mycompany.Operations.DVDLibraryEmmaDessa"/>
    <bean id="library3" class="com.mycompany.Operations.DVDLibraryThree"/>
    <bean id="library4" class="com.mycompany.Operations.DVDLibraryTwo"/> -->
    <bean id="library" class="com.mycompany.Operations.DVDLibrary"/>
    
    <bean id="dvdcontroller1" class="com.mycompany.dto.Controller">
        <constructor-arg ref="library1"/>
    </bean>
   <!-- <bean id="dvdcontroller2" class="com.mycompany.dto.Controller">
        <constructor-arg ref="library2"/>
    </bean>
    <bean id="dvdcontroller3" class="com.mycompany.dto.Controller">
        <constructor-arg ref="library3"/>
    </bean>
    <bean id="dvdcontroller4" class="com.mycompany.dto.Controller">
        <constructor-arg ref="library4"/>
    </bean>-->
    <bean id="dvdcontroller" class="com.mycompany.dto.Controller">
        <constructor-arg ref="library"/>
    </bean>
</beans>
